@import "../../global.scss";


.aboutMain {
    width: 100%;    
    background-image: url("https://anima-uploads.s3.amazonaws.com/projects/61f442dbf9ef2c79fcd1f396/releases/61f457eceb1e810fc50e7615/img/bg-4@1x.png");
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-title {
    background-color: var(--titlebg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: auto;
    padding: 30px;
    margin: 0 auto;
    width: 75%;
    
    @include mobile {
        height: 229px;
        width: 90%;
    }
}

.title {
    height: 28px;
    letter-spacing: 0;
    flex-wrap: wrap;
    text-align: center;
    width: 858px;
    font-size: 36px;

    @include mobile {
        letter-spacing: 0;
        min-height: 28px;
        text-align: center;
        width: 306px;
        font-size: larger;
        margin-left: -5px;
    }
}
      
.sub-title {
    height: auto;
    letter-spacing: 0;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
    width: auto;

    @include mobile {
        letter-spacing: 0;
        min-height: 65px;
        text-align: center;
        width: 333px;
    }
}

.aboutDesc {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
}

.who-we-are {
    display: flex;
    width: 90%;

    @include mobile {
        width: 90%;
        flex-direction: column;
    }

}

.img-left-about {
    display: block;
    height: 286px;
    object-fit: cover;
    opacity: 0;
    transform: translate(-25px, 0);
    width: 371px;

    @include tablet {
        height: 450px;
    }
}
  
.about-us {
    height: 302px;
    letter-spacing: 0;
    margin-left: 68px;
    width: 563px;

    @include mobile {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;
    }
}

.reason-for-choice {
    letter-spacing: 0;
    margin-top: 25px;
    min-height: 131px;
    width: 90%;

    @include mobile {
        width: 90%;
        margin-top: 100px;
    }
}
  
@import url("https://fonts.googleapis.com/css?family=Roboto:700,500,600,800|Roboto+Slab:700|Ropa+Sans:400|Roboto+Condensed:700");
  
@import url("https://fonts.googleapis.com/css?family=Roboto:700,500,600,800|Roboto+Slab:700|Ropa+Sans:400|Roboto+Condensed:700");

@import url("https://fonts.googleapis.com/css?family=Roboto:700,500,600,800|Roboto+Slab:700|Ropa+Sans:400|Roboto+Condensed:700");