@import "../../global.scss";

.modal {
    width: 800px;
    height: 634px;
    margin: -20px;
    background: url(https://anima-uploads.s3.amazonaws.com/projects/61f442dbf9ef2c79fcd1f396/releases/62094527e0d13e3d908fe745/img/desktop-modal@1x.png);
    backdrop-filter: blur(40px);

    @include mobile {
        width: 120%;
    }
}

.mainFrame {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    position: relative;
    top: 65px;
}

.blurLayer {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
    width: 110%;
    height: auto;
    margin: 0 auto;
    margin-left: -30px;
    display: flex;
    flex-direction: column;
    flex: auto;
    flex-grow:1;

    @include mobile {
        height: auto;
    }
}

.topLeft {
    display: flex;
    margin-left: 15px;
    flex-direction: row;
    width: 300px;
    align-items: center;
}

.line {
    border: 2px solid #FFFFFF;
    transform: rotate(-0.77deg);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 1px;
    width: 25px;
}

.lineFooter {
    border: 2px solid #FFFFFF;
    transform: rotate(-0.77deg);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 1px;
    margin-top: -10px;
    width: 25px;
}

.fluentpaint-brush-24-filled {
    width: 37px;
    height: 39px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 1px;
}

.name-hook {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px;
    width: 298px;
    height: 74px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 1px;
}

.company-title {
    font-size: 16px;
    font-family: var(--font-family-rounded_mplus_1c-extrabold);
}

.center {
    display: flex;
    justify-content: space-around;
    align-content: top;
    height: 350px;
}

.info {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 219px;
    left: 36px;
    top: 58px;
    font-family: var(--font-family-rounded_mplus_1c-extrabold);

    @include mobile {
        display: none;
    }
}

.modalMail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 222px;
    height: 25px;
    flex: none;
    order: 0;
    margin-left: 10px;
    flex-grow: 0;
    gap: 10px;
}

.modalAddress {
    display: flex;
    align-items: center;
    position: relative;
    width: 217px;
    height: 42px;
    left: 10px;
    gap: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.modalPhone {
    display: flex;
    align-items: center;
    margin: 30px 0px;
    position: relative;
    height: 219px;
    left: 10px;
    gap: 15px;
}

.socialIcons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
    align-items: center;
    margin-top: 25px;
}

.spanEstimate {
    color: var(--boston-blue);
} 


.socialIcons a {
    display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.socialIcons a:hover { 
    color: #24262b;
	background-color: #ffffff;
}

.estimateModal {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
    gap: 20px;

    @include mobile {
        width: 82%;
        margin-top: 25px;
    }
}

.MuiInput-underline::before {
    border-bottom: 1px solid white !important;
}

.MuiInput-underline::after {
    border-bottom: 2px solid white !important;
}

@font-face {
    font-family: "Rounded Mplus 1c-ExtraBold";
    font-style: normal;
    font-weight: 800;
    src: url("https://fonts.animaapp.com/RoundedMplus1c-ExtraBold") format("truetype");
  }

